<ul>
    <li class="py-3 px-6 " routerLink="/home" routerLinkActive="active">
        <span>Inicio</span>
    </li>
    <li class="py-3 px-6" routerLink="/alertas" routerLinkActive="active">
        <span>Alertas</span>
    </li>
    <li class="py-3 px-6" routerLink="/botones" routerLinkActive="active">
        <span>Botones</span>
    </li>
    <li class="py-3 px-6" routerLink="/calendarios" routerLinkActive="active">
        <span>Calendarios</span>
    </li>
    <li class="py-3 px-6" routerLink="/captchas" routerLinkActive="active">
        <span>Captchas</span>
    </li>
    <li class="py-3 px-6" routerLink="/carga-documentos" routerLinkActive="active">
        <span>Carga Documentos</span>
    </li>
    <li class="py-3 px-6" routerLink="/footers" routerLinkActive="active">
        <span>Footers</span>
    </li>
    <li class="py-3 px-6" routerLink="/formularios" routerLinkActive="active">
        <span>Formularios</span>
    </li>
    <li class="py-3 px-6" routerLink="/headers" routerLinkActive="active">
        <span>Headers</span>
    </li>
    <li class="py-3 px-6" routerLink="/inputs" routerLinkActive="active">
        <span>Inputs</span>
    </li>
    <li class="py-3 px-6" routerLink="/modales" routerLinkActive="active">
        <span>Modales</span>
    </li>
    <li class="py-3 px-6" routerLink="/tablas" routerLinkActive="active">
        <span>Tablas</span>
    </li>
    <li class="py-3 px-6" routerLink="/textos" routerLinkActive="active">
        <span>Textos</span>
    </li>
</ul>