.video  {
    padding-top: 2rem;
    margin-left: 0rem;
    max-width: 100%;
    background-color: black;
}

.somosCau   {
    background-color: black;
}

.principalText   {
    color: var(--cau-dorado);
    font-size: 70px;
    margin-top: 4rem;
}

.textoPresentacion  {
    color: white;
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .video  {
        padding-top: 0rem;
        max-width: 100%;
        background-color: black;
    }

    .principalText   {
        background-color: black;
        font-size: 40px !important;
    }
}