.video  {
    padding-top: 2rem;
    margin-left: 0rem;
    // min-width: 100%;
    min-height: 50px !important;
    background-color: black;
}

.somosCau   {
    background-color: black;
}

.principalText   {
    color: var(--cau-dorado);
    font-size: 70px;
    margin-top: 4rem;
}

.textoPresentacion  {
    color: white;
    margin-top: 4rem;
}