<div class="container-fluid" style="background-color: black;">
    <div class="col-md-4">
        <div class="text-center principalText">
            <b>#SOMOS CAU</b>
        </div>

        <div class="textoPresentacion">
            <h2>Educar conlleva acompañar con paciencia en el descubrimiento de quién eres, qué es el mundo y como te vas integrando en este gracias al desarrollo de tus habilidades.</h2>
            <br><br>
            <h2>En CAU sabemos que eres una persona única e irrepetible, buscando siempre el franco desarrollo de su vida profesional.</h2>
        </div>
    </div>  
    <div class="col-md-8">
        <video controls class="video">
            <source src="./../../../../assets/images/CAU/video/caucoacalco.mp4" type="video/mp4">
            Tu navegador no soporta el tag de video.
          </video>    
    </div>  
</div>