:root {

    /* Ejemplo de cómo agregar los colores específicos del proyecto */
    /*VERDES*/
    --verde-tono1: #36B1B9;
    --verde-tono2: #00D494;
    --verde-tono3: #0C7A71;
    --verde-tono4: #C9E8E3;
    --verde-tono5: #006455;
    --verde-tono6: #0a3622;
    --verde-tono7: #198754;
    --verde-tono8: #a3cfbb;
    --verde-tono9: #cfe2ff;
    --verde-tono10: #00C793;
    --verde-tono11: #078D6A;
    --verde-tono12: #E9FFE6;
    --verde-tono13: #0E4F26;
    --verde-tono14: #4CD07D;
    --verde-tono15: #A0E6BA;
    --verde-tono16: #d1e7dd;
    
    /*NARANJAS*/
    --naranja-tono1: #F97D6B;
    --naranja-tono2: #ef4444;

    /*GUINDAS*/
    --guinda-tono1: #611232;
    --guinda-tono2: #9D2449;
    --guinda-tono3: #9F0760;
    --guinda-actions: #F8E7F1;
    
    /*DORADOS*/
    --dorado-tono1: #DAC6A180;
    --dorado-tono2: #D4C19C;
    --dorado-tono3: #bc955c;

    /*AZULES*/
    --azul-tono1: #9EC5FE;
    --azul-tono2: #052c65;
    --azul-tono3: #0d6efd;
    --azul-tono4: #9ec5fe;
    --azul-tono5: #cfe2ff;
    --azul-tono6: #055160;
    --azul-tono7: #0dcaf0;
    --azul-tono8: #9eeaf9;
    --azul-tono9: #cff4fc;
    --azul-tono10:#abcdff;
    --azul-tono11:#428EFF;
    --azul-tono12:#e7ecfe;
    

    /*ROJOS*/
    --rojo-tono1: #F1AEB5;
    --rojo-tono2: #58151c;
    --rojo-tono3: #dc3545;
    --rojo-tono4: #f1aeb5;
    --rojo-tono5: #f8d7da;
    --rojo-tono6: #ff0000;

    /*AMARILLOS*/
    --amarillo-tono1: #FFF6D8;
    --amarillo-tono2: #664d03;
    --amarillo-tono3: #ffc107;
    --amarillo-tono4: #ffe69c;
    --amarillo-tono5: #fff3cd;
    --amarillo-tono6: #f7a530;

    /*GRISES*/
    --gris-tono1: #EDEFF2;
    --gris-tono2: #5f6368;
    --gris-tono3: #808080;
    --gris-tono4: #b1b0b0;
    --gris-tono5: #cdcfd045;
    --gris-tono6: #d9e0ef66;
    --gris-tono7: #717A8D;
    --gris-tono8: #404041;
    --gris-tono9: #ccc;
    --gris-tono10:#999;
    --gris-tono11: #F8FBF8;
    --gris-tono12: #F0F2FA;
    --gris-tono13: #556277;

    /*BLANCOS*/
    --blanco-tono1: #ffffff;
    --blanco-tono2: #e0e0e0;
    --blanco-tono3: #f8f8f8;
    --blanco-tono4: #DDDDDD;
    --blanco-tono5: #e8e2e2;
    --blanco-tono6: #eeeeee;
    --blanco-tono7: #F6F6F6;
 
    /*NEGROS*/
    --negro-tono1: #0000001a;
    --negro-tono2: #2d2d2d;
    --negro-tono3: #1e1e1e;
    --negro-tono4: #00000013;
    
}