<!-- <div class="container-principal">
    <div class="container-principal">
        <div class="col px-8">
            <img
                src="./../../../../assets/images/footer/footer_logo_gobierno.svg"
                alt="icon" class="img-fluid"/>
        </div>
        <div class="col px-8">
            <img
                src="./../../../../assets/images/footer/footer_logo_educacion.svg"
                alt="icon" class="img-fluid"/>
        </div>
        <div class="col px-8">
            <img
                src="./../../../../assets/images/footer/footer_logo_salud.svg"
                alt="icon" class="img-fluid"/>
        </div>
        <div class="col px-8">
            <img
                src="./../../../../assets/images/footer/footer_logo_sndif.svg"
                alt="icon" class="img-fluid"/>
        </div>
        <div class="col px-8">
            <img
                src="assets/images/footer/footer_logo_imss_fpa.svg"
                alt="icon" class="img-fluid"/>
        </div>
    </div>
</div> -->

<div class="container-principal">
    <table>
        <tr>
            
            <td class="col-md-1"></td>

            <td class="col-md-2">
                <img src="./../../../../assets/images/footer/footer_logo_educacion.svg" alt="icon" class="img-fluid"/>
            </td>
            <td class="col-md-2">
                <img src="./../../../../assets/images/footer/footer_logo_salud.svg" alt="icon" class="img-fluid"/>
            </td>
            <td class="col-md-2">
                <img src="./../../../../assets/images/footer/footer_logo_imss.svg" alt="icon" class="img-fluid"/>
            </td>
            <!-- <td class="col-md-2">
                <img src="./../../../../assets/images/footer/footer_logo_imss_bienestar.svg" alt="icon" class="img-fluid"/>
            </td> -->
            <td class="col-md-2">
                <img src="./../../../../assets/images/footer/footer_logo_sndif.svg" alt="icon" class="img-fluid"/>
            </td>

            <td class="col-md-1"></td>
        </tr>
    </table>
</div>
