<div class="container-principal">
    <table>
        <tr>
            
            <td class="col-md-1">
                <img src="./../../../../assets/images/CAU/logoCau.png" alt="icon" class="img-fluid imgCau"/>
            </td>

            <td class="col-md-12 textFooter">
                <h4>Centro Académico Unión</h4>
            </td>

            <td class="col-md-12 textFooter">
                
            </td>
            <!-- <td class="col-md-2">
                <img src="./../../../../assets/images/footer/footer_logo_imss_bienestar.svg" alt="icon" class="img-fluid"/>
            </td> -->
            <td class="col-md-2">
                
            </td>

            <!-- <td class="col-md-1">
                <img src="./../../../../assets/images/CAU/logoCau.png" alt="icon" class="img-fluid imgCau"/>
            </td> -->
        </tr>
    </table>
</div>
